{% extends 'base.html.twig' %}



{% block body %}


 <span class="badge badge-pill badge-info">Info Les évènements</span>
    <div class="container">


        <div class="container">
            <div class="row">

                {% for evenement in event %}
                    {% if not app.user %}
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ evenement.photo }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ evenement.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ evenement.date | date("d/m/Y") }}</h6>
                            <p class="card-text">{{ evenement.description }}</p>
                        </div>
                    </div>

                </div>
                    {% else %}

                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <div class="card" style="width: 18rem;">
                               <img src="{{ evenement.photo }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ evenement.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ evenement.date | date("d/m/Y") }}</h6>
                                    <p class="card-text">{{ evenement.description }}</p>
                                    <a href="#" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>





{% endblock %}
