{% extends 'base.html.twig' %}



{% block body %}
    {% for entity in entitys %}
    <div class="instructors_jumbotron jumbotron jumbotron-fluid" style="background-image: url(../img/{{ entity.photobandeau }});">
        <div class="container">
            <h1 class="display-4" style="text-align: left;">Nos évènements</h1>
            <div class="div_h1"></div>
        </div>
    </div>
    {% endfor %}
    <!-- Photo by Timothy Eberly on Unsplash -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-mb5">
                {% if app.user %}
                    <a href="{{ path('security_FormEvent') }}" class="badge badge-pill badge-primary">

                        <i class="fa fa-plus"> Ajouter un évènement</i>

                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for evenement in event %}
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card" style="width: 18rem;">
                       <img src="{{ "/img/"~ evenement.photo }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ evenement.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ evenement.date | date("d/m/Y") }}</h6>
                            <p class="card-text">{{ evenement.description }}</p>
                            {% if  app.user %}
                                <form class="d-inline" method="post" action="{{ path('event_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ evenement.title }} ?')">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                                <a href="{{ path('security_formEventEdit', {'id': evenement.id}) }}" class="btn btn-sm btn-info">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
