{% extends 'base.html.twig' %}
 {% block title %}

 {% endblock %}
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-4 offset-4">
                        <h1> Inscription</h1>
                        {{ form_start(form) }}
                        {{ form_row(form.username,{'label': "Nom d'utilisateur",'attr': {'placeholder':"nom d'utilisateur"}}) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.confirm_password) }}
                        <button type="submit" class="btn btn-success">Inscription</button></br>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



