{% extends 'base.html.twig' %}



{% block body %}


    <div class="instructors_jumbotron jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="text-align: left;">Nos instructeurs</h1>
            <div class="div_h1"></div>
        </div>
    </div>
    <!-- Photo by Timothy Eberly on Unsplash -->
    <!-- Cards Instructeurs-->
    <div class="container">
        {% if app.user %}
        <a href="{{ path('security_FormInstructor') }}" class="badge badge-pill badge-primary">
            <i class="fa fa-plus"> Ajouter</i>
        </a>
        {% endif %}
        <div class="row my-5">
            {% for instructor in instructeur %}
                {% if not app.user %}
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ "/img/"~ instructor.photo }}" class="card-img-top" alt="photo instructeur">
                    <div class="card-body">
                        <h5 class="card-title">{{ instructor.lastname }} {{ instructor.firstname }}</h5>
                        <p class="card-text">{{ instructor.description }}</p>
                        {% if instructor.link != "" %}
                            <p class="card-text"><a class="instructor_link" target="_blank" href="{{ instructor.link }}">Site personnel</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
                {% else %}

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ "/img/"~ instructor.photo }}" class="card-img-top" alt="photo instructeur">
                            <div class="card-body">
                                <h5 class="card-title">{{ instructor.lastname }} {{ instructor.firstname }}</h5>
                                <p class="card-text">{{ instructor.description }}</p>
                                {% if instructor.link != "" %}
                                    <p class="card-text"><a class="instructor_link" target="_blank" href="{{ instructor.link }}">Site personnel</a></p>
                                {% endif %}
                                <form class="d-inline" method="post"  action="{{ path('instructors_delete', {'id': instructor.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{instructor.role }},{{ instructor.lastname }} ?')">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                                <a href="#" class="btn btn-sm btn-danger">
                                    <i class="fa fa-pencil"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}