{% extends 'base.html.twig' %}



{% block body %}


    <div class="instructors_jumbotron jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="text-align: left;">Nos instructeurs</h1>
            <div class="div_h1"></div>
        </div>
    </div>
    <!-- Photo by Timothy Eberly on Unsplash -->


    <!-- Cards Instructeurs-->
    <div class="container">
        <div class="row my-5">
            {% for instructor in instructeur %}
                {% if not app.user %}
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ instructor.photo }}" class="card-img-top" alt="photo instructeur">
                    <div class="card-body">
                        <h5 class="card-title">{{ instructor.lastname }} {{ instructor.firstname }}</h5>
                        <p class="card-text">{{ instructor.description }}</p>
                        <p class="card-text"><a href="{{ instructor.link }}">Site personnel</a></p>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="col-12 col-md-6 col-lg-4 mb-5">

                    <div class="card" style="width: 18rem;">
                      
                        <img src="{{ instructor.photo }}" class="card-img-top" alt="photo instructeur">
                        <div class="card-body">
                            <h5 class="card-title">{{ instructor.lastname }} {{ instructor.firstname }}</h5>
                            <p class="card-text">{{ instructor.description }}</p>
                            <p class="card-text"><a href="{{ instructor.link }}">Site personnel</a></p>
                            <a href="#" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}