{% extends 'base.html.twig' %}


{% block body %}

</br>
<h1 class="admin text-center">DashBoard Administrateur </h1></br>

    {% if not is_granted("ROLE_ADMIN") %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% else %}

            <div class="container my-3">
                <a href="{{ path('oauth') }}" class="btn btn-sm btn-danger">
                    <i class="fa fa-google"> Se connecter à Google</i>
                </a>
                <h2> <a href = "{{ path('security_FormEvent') }}" class="btn btn-sm btn-primary">

                        <i class="fa fa-plus"></i>
                    </a>Ajouter un évènement</h2>
                <h2><a href="{{ path('security_FormInstructor') }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>Ajouter un instructeur</h2>
                <h2> <a href="{{ path('securityFormMember') }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>Ajouter un membre du bureau</h2>
                <h2> <a href="{{ path('security_FormFiles') }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>Ajouter un document</h2>
                {% if entitys is not empty %}
                    {% for entity in entitys %}
                        <h2> <a href="{{ path('security_FormEntityEdit', {'id': entity.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-plus"></i>
                            </a>Modifier la structure</h2>
                    {% endfor %}
                {% else %}
                    <h2> <a href="{{ path('security_FormEntity') }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus"></i>
                        </a>Ajouter une structure</h2>
                {% endif %}
                <h2> <a href="{{ path('security_FormDisciplines') }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>Ajouter une discipline</h2>
            </div>

           


{% endif %}




   {#
    {% for message in app.flashes('information') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
   #}



{% endblock %}
