{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}
{% block body %}
    {% if editMode %}
        <h1>Modification d'un évènement</h1>
    {% else %}
        </br>
        <h1 style="text-align: center">Ajout d'un évènement</h1></br>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(formEvent) }}
                {{ form_row(formEvent.title,{'attr': {'placeholder':"Titre de l'évènement "}}) }}
                {{ form_row(formEvent.place,{'attr': {'placeholder':"Lieu de l'évènement "}}) }}
                {{ form_row(formEvent.organisator,{'attr': {'placeholder':"Organisateur de l'évènement "}}) }}
                {{ form_row(formEvent.description,{'attr': {'placeholder':"Description de l'évènement "}}) }}
                {{ form_row(formEvent.date) }}
                {{ form_row(formEvent.emailcontact,{'attr': {'placeholder':"Email de contact "}}) }}
                {{ form_row(formEvent.phonecontact,{'attr': {'placeholder':"Téléphone du contact "}}) }}
                {{ form_row(formEvent.photo,{'attr': {'placeholder':"Affiche de l'évènement "}}) }}
              {# {{ form_widget(formEvent) }}#}
                </br>
                <button type="submit" class="btn btn-success">
                   {% if editMode %}
                        Enregistrer les modifications
                   {% else %}
                        Ajouter l'évènement
                    {% endif %}
                     </button>
                {{ form_end(formEvent) }}

            </div>
        </div>
    </div>
    </br>



{% endblock %}
