{% extends 'base.html.twig' %}

{% block body %}
    {% if editMode %}
        <H1>
            <h1> Modification d'un Instructeur</h1>
    {% else %}
        <h1> Ajout d'un Instructeur</h1>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_start(formInstructor) }}
                {{ form_row(formInstructor.lastname) }}
                {{ form_row(formInstructor.firstname)}}
                {{ form_row(formInstructor.address) }}
                {{ form_row(formInstructor.email) }}
                {{ form_row(formInstructor.role) }}
                {{ form_row(formInstructor.phone) }}
                {{ form_row(formInstructor.photo) }}
                {{ form_row(formInstructor.description) }}
                {{ form_row(formInstructor.grade) }}
                {{ form_row(formInstructor.link) }}
                <button type="submit" class="btn btn-success">
                {% if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Ajouter l'instructeur
                {% endif %}
                </button>

                {{ form_end(formInstructor) }}

            </div>
        </div>
    </div>



{% endblock %}

{% block title %}

{% endblock %}