{# templates/_navbar.html.twig #}


    <section class="pt-0 pb-0 bg-dark" id="myTitle">
      {% for entity in entitys %}

      <div class="container" style="color: white;">
        <div class="row">
          <div class="col-md-12 text-center" style="font-size: 25px;">
            <img src="{{ asset('img/logo.png') }}" width="50" height="50" alt="logo">
            <a class="title">&nbsp&nbsp Arts Martiaux Basséens</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>

<nav class="navbar sticky-top" id="myNavbar">
    <div class="menu dropdown-toggle ml-5">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" data-offset="10,20">
            <a class="dropdown-item" href="{{ path('home') }}">Accueil</a>
            <a class="dropdown-item" href="{{ path('club') }}">Le club</a>
            <a class="dropdown-item" href="{{ path('instructors') }}">Les instructeurs</a>
            <a class="dropdown-item" href="{{ path('event') }}">Les évènements</a>
            <a class="dropdown-item" href="{{ path('document') }}">Les documents</a>
        </div>

    </div>
    <form class="form-inline my-2 my-lg-0">
        {% if not app.user %}


            <a href="{{ path('security_login') }}" class="nav-link" style="color: white;">Connexion</a>

        {% else %}
            <span class="badge badge-pill badge-danger">mode administrateur</span>
            <a href="{{ path('security_logout') }}" class="nav-link" style="color: white;">Déconnexion</a>

        {% endif %}


    </form>

</nav>
