<footer class="page-footer font-small pt-12 bg-dark" id="myFooter">

        <div class="footer-copyright text-center py-3">© 2019 Copyright: Arts martiaux Basséens
         <img src="{{ asset('img/logo_rond_krav_version_final.jpg') }}" width="30" height="30" alt="logo">
            <a href="https://fr-fr.facebook.com/artsmartiauxbasseens/" class="facebook" target="_blank"><span
                    class="fa fa-facebook"></span></a>
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-text">
                        <span class="fa fa-user"></span>
                        <a href="#menu" data-toggle="collapse">développeurs du site :</a>
                    </h5>
                </div>
                <div id="menu" class="collapse">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 mb-2">
                                <img src="{{ asset('img/vincent.jpg') }}" width="50" height="50" class="rounded-circle"
                                    alt="">
                                <p>
                                    <a>Vincent ROBIN</a></br>
                                    <a class="btn btn-social-icon btn-linkedin">
                                        <a href="https://www.linkedin.com/in/vincent-robin/" class="linkedin"
                                            target="_blank"><span class="fa fa-linkedin"></span></a>
                                    </a>
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-4 mb-3">
                                <img src="{{ asset('img/laurent.jpg') }}" width="50" height="50" class="rounded-circle"
                                    alt="">
                                <p>
                                    <a>Laurent GAGNEUR</a></br>
                                    <a class="btn btn-social-icon btn-linkedin">
                                        <a href="https://www.linkedin.com/in/laurent-gagneur/" class="linkedin"
                                            target="_blank"><span class="fa fa-linkedin"></span></a>
                                    </a>
                                </p>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-2">
                                <img src="{{ asset('img/jean.jpg') }}" width="50" height="50" class="rounded-circle"
                                    alt="">
                                <p>
                                    <a>Jean PERRAULT</a></br>
                                    <a class="btn btn-social-icon btn-linkedin">
                                        <a href="https://www.linkedin.com/in/jean-perrault/" class="linkedin"
                                            target="_blank"><span class="fa fa-linkedin"></span></a>
                                    </a>
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-4 mb-3">
                                <img src="{{ asset('img/geoffrey.jpg') }}" width="50" height="50" class="rounded-circle"
                                    alt="">
                                <p>
                                    <a>Geoffrey MONIEZ</a></br>
                                    <a class="btn btn-social-icon btn-linkedin">
                                        <a href="https://www.linkedin.com/in/geoffrey-moniez/" class="linkedin"
                                            target="_blank"><span class="fa fa-linkedin"></span></a>
                                    </a>
                                </p>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-2">
                                <img src="{{ asset('img/melisande.jpg') }}" width="50" height="50" class="rounded-circle"
                                    alt="">
                                <p>
                                    <a>Mélisande BARATTE</a></br>
                                    <a class="btn btn-social-icon btn-linkedin">
                                        <a href="https://www.linkedin.com/in/melisande-baratte/" class="linkedin"
                                            target="_blank"><span class="fa fa-linkedin"></span></a>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Copyright -->

    </footer>