<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       {#  {% for entity in entitys %}
             <title>{% block title %}{{ entity.name }}{% endblock %}</title>
             <link rel="icon" type="image/png" href="{{ asset('img/') }}{{ entity.logo }}" />
        {% endfor %}
        #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/club.css') }}">
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
            <link rel="stylesheet" href="{{ asset('css/viewpdf.css') }}">

        {% endblock %}

    </head>

    <body>
        {{ include('navbar/_navbar.html.twig') }}

        {% block body %}{% endblock %}

        {{ include('footer/_footer.html.twig') }}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/carousel_a11y.js') }}"></script>
            <script src="{{ asset('js/viewpdf.js') }}"></script>
        {% endblock %}
    </body>
</html>
