{% extends 'base.html.twig' %}



{% block body %}
    {% for entity in entitys %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Mentions légales du site<br> {{ entity.name }}</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="py-2 my-3">
                    <h2>{{ entity.name }}</h2>
                    {{ entity.adress }} {{ entity.postalcity }} <br>

                    <h2>Directeur/trice de publication</h2>
                    {{ entity.directorname }} <br>
                    {{ entity.directorphone }}<br>
                    {{ entity.directoremail }}<br>

                    <h2>Hébergeur</h2>
                    [coordonnées de l'hébergeur du site]<br>

                    <h2>Développeurs</h2>
                    Vincent Robin<br>
                    Laurent Gagneur<br>
                    Jean Perrault<br>
                    Geoffrey Moniez <br>
                    Mélisande Baratte
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
