{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper club_description">
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ sitename }}</h1>

            <p><i class="fa fa-home"></i> 45 Rue Gabriel Péri 59480 La Bassée</p>

            <p><i class="fa fa-envelope mr-2"></i>artsmartiauxbasseens@gmail.com</p>
            <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro commodi aliquam veniam fuga suscipit itaque labore natus accusamus numquam, perferendis in? Incidunt libero dignissimos unde fuga voluptatem omnis accusamus delectus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro commodi aliquam veniam fuga suscipit itaque labore natus accusamus numquam, perferendis in? Incidunt libero dignissimos unde fuga voluptatem omnis accusamus delectus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro commodi aliquam veniam fuga suscipit itaque labore natus accusamus numquam, perferendis in? Incidunt libero dignissimos unde fuga voluptatem omnis accusamus delectus.</p>
        </div>
    </section>
</div>


<div class="container">
    <h2 class="text-center my-5 club_h2">Disciplines :</h2>
    <div class="club_disciplines my-5">

        <div class="row">

            <div class="col-6 py-3 px-5">
                <h3 class="text-center">Taekwondo</h3>
                <p>Le taekwondo est un art martial d'origine sud-coréenne, dont le nom peut se traduire par La voie du pied et du poing. <br>
                    Le taekwondo se distingue des autres arts martiaux, surtout dans sa forme, par le haut degré de spécialisation de ses pratiquants
                    en techniques de coups de pieds bien plus que dans d'autres techniques, par les nombreuses protections utilisées lors des compétitions
                    de combat ainsi que par le fait que, depuis qu'il a été inclus au programme des Jeux olympiques d'été en 2000.
                </p>
            </div>
            <div class="col-6 py-3 px-5">
                <h3 class="text-center">Krav maga</h3>
                <p>Le krav-maga est à l'origine une méthode d'autodéfense d'origine israélo-tchécoslovaque hongroise combinant des techniques provenant de la boxe,
                    du muay-thaï, du judo, du ju-jitsu et de la lutte. Cette méthode, créée par Imi Lichtenfeld, est maintenant une base de l'armée israélienne et
                    des services spéciaux israéliens pour se défendre au corps à corps face aux assaillants. La méthode est utilisée par de nombreux services de police
                    et forces militaires dans le monde tels qu'aux États-Unis le FBI, la DEA, les marines, en France le GIGN, le RAID, la Légion étrangère et au Royaume-Uni les SAS.
                </p>
            </div>

        </div>
    </div>
</div>

    <div class="container club_membres">
        <h2 class="text-center club_h2">Membres du bureau</h2>
        <div class="row my-5">
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card mb-5">
                    {% for personnal in personnals %}
                        {% if not app.user %}
                    {% if  personnal.role == 'Président' %}
                        <img class="card-img-top" src="./img/{{ personnal.photo }}" alt="Président AMB">
                        <div class="card-body">
                            <h2 class="card-title club_role">{{ personnal.role }} :</h2>
                            <h3 class="card-title"><a title="View Product">{{ personnal.firstname }} {{ personnal.lastname }}</a></h3>
                            <p><i class="fa fa-phone mr-2"></i> {{ personnal.phone }}</p>
                            <p><i class="fa fa-envelope mr-2"></i> {{ personnal.email }}</p>
                        </div>
                    {% endif %}
                    {% else %}
                        {% if  personnal.role == 'Président' %}

                            <img class="card-img-top" src="./img/{{ personnal.photo }}" alt="Président AMB">
                            <div class="card-body">
                                <h2 class="card-title club_role">{{ personnal.role }} :</h2>
                                <h3 class="card-title"><a title="View Product">{{ personnal.firstname }} {{ personnal.lastname }}</a></h3>
                                <p><i class="fa fa-phone mr-2"></i> {{ personnal.phone }}</p>
                                <p><i class="fa fa-envelope mr-2"></i> {{ personnal.email }}</p>
                                <form class="d-inline" method="post" action="{{ path('club_delete', {'id': personnal.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{personnal.role }} ?')">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
            <div class="card mb-5">
                {% for personnal in personnals %}
                    {% if not app.user %}
                {% if  personnal.role == 'Secrétaire' %}
                    <img class="card-img-top" src="./img/{{ personnal.photo }}" alt="Secrétaire AMB">
                    <div class="card-body">
                        <h2 class="card-title club_role">{{ personnal.role }} :</h2>
                        <h3 class="card-title"><a title="View Product">{{ personnal.firstname }} {{ personnal.lastname }}</a></h3>
                        <p><i class="fa fa-phone mr-2"></i> {{ personnal.phone }}</p>
                        <p><i class="fa fa-envelope mr-2"></i> {{ personnal.email }}</p>
                    </div>
                {% endif %}
                    {% else %}
                        {% if  personnal.role == 'Secrétaire' %}

                            <img class="card-img-top" src="./img/{{ personnal.photo }}" alt="Secrétaire AMB">
                            <div class="card-body">
                                <h2 class="card-title club_role">{{ personnal.role }} :</h2>
                                <h3 class="card-title"><a title="View Product">{{ personnal.firstname }} {{ personnal.lastname }}</a></h3>
                                <p><i class="fa fa-phone mr-2"></i> {{ personnal.phone }}</p>
                                <p><i class="fa fa-envelope mr-2"></i> {{ personnal.email }}</p>
                                <form class="d-inline" method="post" action="{{ path('club_delete', {'id': personnal.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{personnal.role }} ?')">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
            <div class="card mb-5">
                {% for personnal in personnals %}
                    {% if not app.user %}
                {% if  personnal.role == 'Trésorier' %}
                    <img class="card-img-top" src="./img/{{ personnal.photo }}" alt="Trésorier AMB">
                    <div class="card-body">
                        <h2 class="card-title club_role">{{ personnal.role }} :</h2>
                        <h3 class="card-title"><a title="View Product">{{ personnal.firstname }} {{ personnal.lastname }}</a></h3>
                        <p><i class="fa fa-phone mr-2"></i> {{ personnal.phone }}</p>
                        <p><i class="fa fa-envelope mr-2"></i> {{ personnal.email }}</p>
                    </div>
                {% endif %}
                    {% else %}
                        {% if  personnal.role == 'Trésorier' %}

                            <img class="card-img-top" src="./img/{{ personnal.photo }}" alt="Trésorier AMB">
                            <div class="card-body">
                                <h2 class="card-title club_role">{{ personnal.role }} :</h2>
                                <h3 class="card-title"><a title="View Product">{{ personnal.firstname }} {{ personnal.lastname }}</a></h3>
                                <p><i class="fa fa-phone mr-2"></i> {{ personnal.phone }}</p>
                                <p><i class="fa fa-envelope mr-2"></i> {{ personnal.email }}</p>
                                <form class="d-inline" method="post" action="{{ path('club_delete', {'id': personnal.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{personnal.role }} ?')">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

{% endblock %}

